<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Home</title>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron bg-light p-5 rounded">
        <h1 class="display-4">Welcome to User Management System</h1>
        <p class="lead">A secure Spring Boot application with user registration, authentication, and CSRF protection.</p>
        <hr class="my-4">

        <div class="row">
            <div class="col-md-6">
                <h5>Get Started</h5>
                <div class="d-grid gap-2">
                    <a class="btn btn-primary btn-lg" th:href="@{/users/register}" role="button">
                        Register New Account
                    </a>
                    <a class="btn btn-success btn-lg" th:href="@{/login}" role="button">
                        Login to Existing Account
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <h5>Features</h5>
                <ul>
                    <li>Secure user registration</li>
                    <li>Password encryption</li>
                    <li>CSRF protection</li>
                    <li>Session management</li>
                    <li>User management</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Flow Explanation -->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>1. Register</h5>
                    <p>Create a new account with secure password storage</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>2. Login</h5>
                    <p>Authenticate with your credentials</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5>3. Access Features</h5>
                    <p>View user list and manage your account</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>